.cart__product{
    display: grid;
    grid-template-columns: 20% 30% 20% 20% 10%;
    border-bottom: 1px solid #C0C0C0;
    padding: 20px 0;
    background: #FFF;
}
.cart__product>*{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__product-count{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    justify-content: space-evenly;
}
.cart__product-price{
   
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
}
.cart__product-image{
    padding: 20px;
}
.cart__product-image img{ 
    max-width: 100%;
}
.cart__product-cross{
    flex-basis:10%;
    cursor: pointer;
}
.cart__product-cross::after,
.cart__product-cross::before {
    position:absolute;
    content: '';
    width: 16px;
    height: 2px;
    border-radius: 5px;
    background-color: #2A2A2A;
}

.cart__product-cross::after{
    transform: rotate(45deg);
}
.cart__product-cross::before {
    transform: rotate(-45deg);
}
.cart__product-name{
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}
.cart__product-weight{
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
}


@media (max-width: 768px) { 
    .cart__product-list{
        padding: 20px;
        background: initial;
    }
    .cart__product{
        background: #FFF;
        box-shadow: 0px 4px 10px rgba(152, 152, 152, 0.25);
        border-radius: 12px;
        margin-bottom: 15px;
        border: 1px solid #FFF;
        position: relative;
        grid-template-columns: minmax(144px, auto) minmax(130px, auto) minmax(70px, auto);
    }
    .cart__product-image{
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .cart__product-count{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .cart__product-cross{
        position: absolute;
        top:20px;
        right: 20px;
    }
    .cart__product-info{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .cart__product-price{
        grid-row: 2/3;
        grid-column: 2/3;
    }
}