.delivery-meat__wrapper {
    display: grid;
    grid-template-columns:  35% 60%;
    grid-template-rows: minmax(435px, 1fr);
    justify-items: space-between;
    align-items: center;
    gap: 30px;
}

.delivery-meat__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.delivery-meat__image{
    height: 100%;
    background-image: url(../img/delivery-meat.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* box-shadow: inset 114px 114px 40px rgba(255, 255, 255, 0.7); */
}
.delivery-meat__title {
    font-size: 30px;
    font-weight: 800;
    line-height: 46px;
    text-align: left;    
    color: #222222;
    text-shadow: rgb(0 0 0 / 12%) 0 1px 3px, rgb(0 0 0 / 24%) 0 1px 2px;
}
.delivery-meat{
    margin: 70px 0 50px 0;
    background-color: #EBEBEB;
    padding: 50px 0;
}

@media (max-width: 768px) { 
    .delivery-meat__image{
        display: none;
    } 
    .delivery-meat__wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }
    .delivery-meat__title{
        text-align: center;
    }
    .delivery-meat{
        margin: 70px 0 0 0; 
    }
}

@media (max-width: 992px) and (min-width: 768px) { 
    .delivery-meat__wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: auto 400px;
    }
    .delivery-meat{
        padding: 0;
    }
}



