.product {
    font-family: 'Inter';
    color: $black;
    padding: 100px 0 0 0;
    background-color: #E5E5E5;
    &__wrapper {
        width: 100%;
    }
    &__row {
        max-width: 100%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, minmax(175px, 1fr));
    }
    &__title {
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: -0.03em;
        text-align: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 24%;
        background: #F0F0F0;
        box-shadow: 0px 4px 40px rgba(152, 152, 152, 0.25);
        border-radius: 20px;
        padding: 13px;
    }
    &__img {
        max-width: 100%;
    }
    &__button {
        flex-shrink: 0;
        border-radius: 50%;
        background-color: $red;
        color: $white;
        width: calc(30px + 20 * (100vw / 1200));
        height: calc(30px + 20 * (100vw / 1200));
        max-width: 50px;
        max-height: 50px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.05em;
        transition-duration: 0.3s;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__button.active {
        max-width: initial;
        max-height: initial;
        bottom: 12px;
        width: 91px;
        height: 24px;
        background-color: $white;
        color: $black;
        border: 1px solid #2A2A2A;
        border-radius: 18px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        >* {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 8px;
        }
    }
    &__input {
        &-radio {
            display: none;
        }
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__button-wrapper {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: start;
        position: relative;
    }
    &__price {
        flex-basis: 50%;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        margin: 5px 0 0 0;
    }
    &__name {
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        text-align: center;
    }
    &__label-radio {
        border: 1px solid $gray;
        border-radius: 11.5px;
        width: 47px;
        height: 23px;
        margin: 15px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
    }
    &__label-radio:nth-child(2) {
        margin: 15px 5px 0 0;
    }
    &__input-radio:checked+&__label-radio {
        background-color: $red;
        border: 1px solid $red;
        color: $white;
    }
}

@media (max-width: 768px) {
    .product {
        &__row {
            grid-template-columns: repeat(2, minmax(175px, 1fr));
        }
    }
}

button {
    outline: none;
    border: none;
}


/* .product__desc {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.product__item:hover .product__desc {
    height: auto;
    max-height: 50px;
    transition: all 0.4s ease;
} */