$gray: #7D7D7D;
$white: #FFF;
$black: #2A2A2A;
$red: #E70000;
* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
}

@import "adaptive.scss";
@import "null.scss";
@import 'product.scss';
@import 'header.scss';